.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

label{
    direction: rtl;
    display: flex;
    font-weight: bold;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
}
input[type="text"],
input[type="tel"],
input[type='email'],
input[type='password']{
    width: 400px;
    display: block;
    padding: 6px 12px;
    color: #444;
    border: 1px solid #ccc;
    border-radius: 4px;
    /* margin-top: 20px; */

}
.btnS{
    margin-top: 20px;
    font-family: 'MyFontName';

}
.loginlink{
    font-family: 'MyFontName';

}
button:disabled{
    cursor: not-allowed;
    background-color: #ccc;
    color: #444;
}
.error{
    direction: rtl;
    color: red;
    font-weight: bold;
    display: flex;
    font-size: 12px;
    margin-top: 9px;
}
input:focus{
    outline: none;
    border: 2px solid #6d28d9;
}