.productData{
    background-color: aqua;
    display: flex;
    flex-direction: column;
}
.productData img{
    width: 200px;

}
/* .productImg img{
    width: 100%;
    height: auto;
} */
.App{
    text-align: center;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}
body{
        background-color: #f8f8f8;

}

.productList{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(260px,1fr));
    grid-column-gap: 5rem;
    grid-row-gap: 5rem;
    width: 90vw;
    max-width: 1170px;
}
.product{
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background: #ede9fe;
    margin-top: 50px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.productImg img{
    width: 100%;
    height: 450px;
}
.productDesc{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}
.btn{
    padding: 6px 15px;
    color: #6d28d9;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #f8f8f8;
    border-radius: 5px;
}
.primary{
    background-color: #6d28d9;
    color: #f8f8f8;
}
.btnContainer{
    display: flex;
}